@media (max-width: 991px) {
  .header {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .promo {
    &__wrapper {
      margin-right: 30px;
    }
  }
  .benefits {
    &__wrapper {
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &__block {
      margin: 0 15px 0 15px;
    }
  }
  .advice {
    padding: 50px 0 54px 0;
    padding-left: 30px;
  }
  .carousel {
    &__inner {
      width: 600px;
    }
  }
  .catalog {
    &__content {
      margin-top: 27px;
    }
    &-item {
      margin-top: 30px;
    }
  }
  .feedback {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .header {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    &__contacts {
      margin-top: 10px;
    }
    &__official {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  .promo {
    &__wrapper {
      align-items: center;
      margin-right: 0;
    }
    &__header {
      font-size: 24px;
    }
    &__subheader {
      font-size: 14px;
    }
    &__icons {
      justify-content: space-around;
      width: 290px;
    }
    &__icon {
      font-size: 11px;
      margin: 0 5px 0 5px;
    }
    &__link {
      font-size: 14px;
    }
  }
  .advice {
    padding-left: 0;
    .title_left {
      text-align: center;
      font-size: 24px;
      padding: 0 5px;
    }
    &__subtitle {
      text-align: center;
      font-size: 15px;
      padding: 0 10px;
    }
    .feed-form {
      align-items: center;
      width: auto;
    }
    .button {
      &_submit {
        width: auto;
      }
    }
  }
  .carousel {
    &__inner {
      width: 400px;
    }
  }
  .catalog {
    &__tab {
      width: 165px;
      font-size: 16px;
    }
  }
  .footer {
    &__info {
      width: 340px;
    }
  }
}

@media (max-width: 576px) {
  .carousel {
    &__inner {
      width: 260px;
    }
    .slick-prev,
    .slick-next {
      left: -33px;
      img {
        width: 15px;
        height: 25px;
      }
    }
    .slick-next {
      right: -33px;
      left: auto;
    }
  }
  .catalog {
    &__tabs {
      flex-direction: column;
      align-items: center;
    }
    &__tab {
      width: 222px;
      height: 52px;
    }
  }
  .feedback {
    &__item {
      flex-direction: column;
      align-items: center;
      &__img {
        display: flex;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  }
}
